@tailwind base;
@tailwind components;
@tailwind utilities;


input {
  font-size: larger;
}

button {
  font-size: larger;
  margin-left: 15px;
}

span {
  padding: 5px 15px;
  background-color: orange;
}